<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bluemsun.know.mapper.BlockMapper">

    <insert id="addBlock" parameterType="block">
        insert into entity_block (block_name) values (#{blockName})
    </insert>

    <delete id="deleteBlock" parameterType="int">
        delete from entity_block where id = #{id}
    </delete>

    <select id="getAllBlock" resultType="block">
        select * from entity_block
    </select>

</mapper>